<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YdeliveCours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row class="ion-margin-start">
      <ion-col>
        <ion-text color="dark">
          <h1>La carte</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let dish of dishes">
        <app-dish [dish]="dish"></app-dish>
      </ion-col>  
    </ion-row>

  </ion-grid>
</ion-content>
