<ion-content [fullscreen]="true" *ngIf="!isCommandValidated">
  <ion-card *ngFor="let dish of dishes">
 
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-no-padding ino-no-margin" ><img width="100%" height="100%" [src]="dish.urlImg" /></ion-col>
        <ion-col size="8" class="ion-no-padding ino-no-margin">
          <ion-row>
              <ion-item lines="none" class="dish-title">
                <ion-label class="ion-nowrap" color="dark">{{dish.name | titlecase}}</ion-label>
                <ion-label class="ion-nowrap" slot="end" color="danger">{{dish.price | currency:'EUR'}}</ion-label>
              </ion-item>
          </ion-row>
  
          <ion-row>
            <ion-item lines="none" >
              <ion-label color="dark" class="first-lines ion-text-start ion-text-justify">{{dish.description | titlecase}}</ion-label>
            </ion-item>
          </ion-row>
        
          <ion-row class="ion-float-end">
              <ion-checkbox   color="danger" [(ngModel)]="dish.isSelected" (click)="removeDish(dish)"></ion-checkbox>
          </ion-row>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
  <ion-row> 
    <ion-text color="dark">
      <h2>Où veux-tu te faire livrer ?</h2>
      <h2>Dis-nous tout, tout !!!</h2> 
    </ion-text>
  </ion-row>
  <ion-row>
    <form (ngSubmit)="validCommandDishes()">
      <ion-item lines="none">
        <ion-label>Rue</ion-label>
        <ion-input clearInput type="text" name="street" [(ngModel)]="address.street"></ion-input>
      </ion-item>
      <ion-item lines="none">
          <ion-label>Ville</ion-label>
          <ion-select placeholder="Choisis ta ville..." name="city" [(ngModel)]="address.city">
            <ion-select-option value="FR">Lille</ion-select-option>
            <ion-select-option value="MA">Valenciennes</ion-select-option>
            <ion-select-option value="MAL">Ain Harouda</ion-select-option>
            <ion-select-option value="GUA">Jdida</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Code postal</ion-label>
        <ion-input type="number" name="zipCode" [(ngModel)]="address.zipCode"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button type="submit" expand="block">Commander</ion-button>
      </div>
    </form>
  </ion-row>
  </ion-grid>
</ion-content>

<div *ngIf="isCommandValidated">
  <panel-command [address]="address" [dishes]="dishes"></panel-command>
</div>


 
