.dish-title {
    width: 100% !important;
}

.first-lines {
    line-height: 1.5em !important;
    height: 3em !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    white-space: normal !important;
}
